<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruktparadiset</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
    <header>
        <img src="/img/affaren.jpg">
        <h1 class="logo">Fruktparadiset</h1>

            <a href="/login" style="left: 200px; ">Logga In</a>
            <a href="/signup" style="left: 200px; ">Gör ett konto</a> 


    </header>
    <hr>
    <nav>
        <ul>
            <li><a href="/fruits">Alla våra frukter</a></li>
            <li><a href="/fruits/new">Ny frukt</a></li>
            <li><a href="/fruits/cart">Varukorg</a></li>

        </ul>
    </nav>
    <hr>
    <%= yield %>
    <hr>
    <footer>
        <p>Kontakta oss</p>
    </footer>
</body>
</html>
